#player_controls {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#play_button {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#play {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 10px 20px;
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(243, 227, 79);
}

#volume {
    -webkit-appearance: none;
    appearance: none;
    width: 21%;
    height: 25px;
    background: rgb(243, 227, 79);
    outline: none;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
}

#volume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}