#sign {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#broadcast_mode {
    padding: 5%;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-align: center;
}