<!DOCTYPE html>
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static "stream/css/base_style.css" %}" />

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="Nothing but relax music">
        <meta name="keywords" content="radio, relax, stream, music">
    </head>

    <body>
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </body>
</html>
