{% extends "base_generic.html" %}

{% block content %}
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static "stream/css/index_style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "stream/css/controls_style.css" %}" />
    <audio id="audio" 
        preload 
        onloadstart="buffering()"
        oncanplay="canPlay()">
        <source src="http://localhost:8040" type="audio/mpeg">
    </audio>
    <script type="text/javascript" src="{% static "stream/scripts/controls.js" %}"></script>

    <script>
        
    </script>
    <div id="sign">
        <div id="artist">Artist</div>
        <div id="track">Track</div>
    </div>

    <div id="player_controls">
        <div id="play_container">
            <button id="play" type="button">play</button>
        </div>
        <div id="volume_container">
            <input id= "volume" type="range" min="1" max="100" step="1" value="100"> 
        </div>
        <label class="switch">
            <input id="sync_check" type="checkbox">
            <span id="sync" class="slider"></span>
        </label>
    </div>

    <div id="broadcast_mode">MORNING BROADCAST</div>
{% endblock %} 
