{% extends "base_generic.html" %}

{% block content %}
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static "stream/css/index_style.css" %}" />

    <div id="sign">
        <div id="artist">Какой-то хрен</div>
        <div id="track">Сраная музыка какого-то хрена</div>
    </div>

    <div id="player_controls">

        <div id="play_button">
            <button id="play" type="button" onclick="play_pause()">play</button>
            <script>
                paused = true;
                var aud = document.getElementsByTagName('audio');
                var play_btn = document.getElementById('play');

                function play_pause(){
                    if (paused) {
                        aud[0].play();
                        play_btn.textContent = "pause";
                    } else {
                        aud[0].pause();
                        play_btn.textContent = "play";
                    }
                    paused = !paused;
                }
            </script>
        </div>

        <div id="volume">
            <input id= "volume" type="range" min="1" max="100" step="1" value="100" oninput="volume()"> 
            <script>
                var aud = document.getElementsByTagName('audio');
                var vol = document.getElementById('volume');
                
                function volume(){
                    aud[0].volume = vol.value/100;
                    if (vol.value == 1){
                        aud[0].muted = true;
                    } else {
                        aud[0].muted = false;
                    }
                }
            </script>
        </div>
    </div>


    {% load static %}
    <audio autoplay>
        <source src="https://station.waveradio.org/soviet?lxersuoaqudutwqxzzpw" type="audio/mpeg">
    </audio>

{% endblock %}
